# PyCharm
.idea/

.envrc
.env/
.venv/

# Bot local files
*.db

# Python
__pycache__/

# Config file
config.yaml
docker-compose.yml
scripts/config.rc
credentials.json

# e2ee store
store/

# Log files
*.log
